.menu {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  background-color: purple;
  padding: 20px;
}

.menuBtn {
  margin: 10px 0;
}

.menuBtnImg {
  max-width: 50px;
  width: 100%;
}